[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo/themes/bento"]
	path = hugo/themes/bento
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo/themes/hugo-future-imperfect-slim"]
	path = hugo/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
